[submodule "gem5"]
	path = gem5
	url = https://github.com/ShafinKhadem/gem5-precise-store-exception
[submodule "disk-image/parsec/parsec-benchmark"]
	path = disk-image/parsec/parsec-benchmark
	url = https://github.com/cirosantilli/parsec-benchmark
